* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 20px;
}
/* INIZIO STILI HEADER */
header {
    background-color: rgb(173, 216, 230);
    height: 100%;
    padding-bottom: 3px;
}
.container-header {
    padding: 15px 0px;
}
.row-header {
    background-color: rgb(218, 165, 32);
}
.col-logo, .col-login {
    width: 20%;
}
.col-link {
    width: 60%;
    justify-content: center;
    display: flex;
}
.col-login {
    display: flex;
    justify-content: flex-end;
}
#logo, #login {
    margin: 10px;
}
.link {
    margin: 10px 5px;
    display: inline-block;
}
/* JUMBOTRON */
.background-jumbotron {
    background-color: rgb(0, 0, 139);
}
.container-jumbotron {
    width: 50%;
    padding: 50px 0;
    margin: auto;
}
.row-jumbotron {
    background-color: rgb(238, 130, 238);
}
.row-jumbotron .col {
    height: 350px;
    width: 100%;
}
/* FINE STILI HEADER */
/* INIZIO STILI MAIN */
/* FINE STILI MAIN */
/* INIZIO STILI FOOTER */
/* FINE STILI FOOTER */
/* INIZIO STILI LAYOUT */
.container {
    width: 70%;
    margin: auto;
}
.row {
    display: flex;
}
.col {
    border: 2px dashed black;
}
/* FINE STILI LAYOUT */